<!-- Default home page -->
<script type="text/javascript">
setTimeout(function sunrise () {
  <% if(typeof options !== 'undefined' && options.showModal==1) { %>
      alert('Hyvä! \n <%=options.message%> \n Sait <%=options.points%> pistettä!')
  <% } %>
}, 0);
</script>
<div class="default-page">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <p>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/225528/coffeecup.svg" alt="The hand has 5 fingers">&nbsp;Kahvia
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/notify?notify_id=notify_1">Keitin kahvia.</a>
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <p>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/278578/Petri-Dish.svg" alt="The hand has 5 fingers">Yleiset taskit</p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_1">Tyhjensin astianpesukoneen</a>
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_5">Kävin kaupassa</a>
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_6">Siistin keittiön</a>
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_7">Vein pullot</a>
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/notify?notify_id=notify_2">Juon kaljaa</a>
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <p>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/73141/brush.svg" alt="The hand has 5 fingers">&nbsp;Barista</p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_2">Peruspesu</a>
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_3">Pesuainepesu</a>
          </p>
          <p>
            <a class="button button-primary" href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doMachineMaintenance?maintenance_id=maintenance_4">Sihdin puhdistus</a>
          </p>
        </div>
      </li>
    </ul>
    <div class="links">
      <ul class="link-list">
        <h2>Pisteet</h2>
        <% _.each(users, function(user) {%>
           <p><%=user.name%> <%=user.points%></p>
        <% }) %>
      </ul>
      <ul class="link-list">
        <h2>Activity</h2>
        <% _.each(history, function(machine) {%>
           <%=machine.history_message%> <%= moment(machine.createdAt).format( 'MMM-DD: HH:mm')%> <br/>
        <% }) %>
      </ul>
      <ul class="link-list">
        <h2>Logs</h2>
          <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doShowMachineMaintenance?machine_id=1">Astianpesukone</a><br/>
          <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doShowMachineMaintenance?machine_id=2">Barista</a>
      </ul>
    </div>
  </div>
</div>
