<!-- Default home page -->
<script type="text/javascript">
setTimeout(function sunrise () {
  <% if(typeof options !== 'undefined' && options.showModal==1) { %>
      alert('Hyvä! \n <%=options.message%> \n Sait <%=options.points%> pistettä!')
  <% } %>
}, 0);
</script>
<div class="default-page">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/15820/jetxee-check-sign-and-cross-sign-3.svg" alt="The hand has 5 fingers">
            <a href="http://<%= sails.config.c_hostname%>:<%= sails.config.port || 1337%>/coffee/notify">Keitin kahvia.</a>
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/15820/jetxee-check-sign-and-cross-sign-3.svg" alt="The hand has 5 fingers">
            <a href="http://<%= sails.config.c_hostname%>:<%= sails.config.port || 1337%>/coffee/doMachineMaintenance?maintenance_id=maintenance_1">Tyhjensin astianpesukoneen</a>
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/15820/jetxee-check-sign-and-cross-sign-3.svg" alt="The hand has 5 fingers">
            <a href="http://<%= sails.config.c_hostname%>:<%= sails.config.port || 1337%>/coffee/doMachineMaintenance?maintenance_id=maintenance_2">Pesin baristan</a>
          </h3>
        </div>
      </li>
    </ul>
    <div class="links">
      <ul class="link-list">
        <h2>Pisteet</h2>
        <% _.each(users, function(user) {%>
           <%=user.name%> <%=user.points%> <br/>
        <% }) %>
      </ul>
      <ul class="link-list">
        <h2>Activity</h2>
        <% _.each(history, function(machine) {%>
           <%=machine.history_message%> <%= moment(machine.createdAt).format( 'MMM-DD: HH:mm')%> <br/>
        <% }) %>
      </ul>
      <ul class="link-list">
        <h2>Logs</h2>
          <a href="http://<%= sails.config.c_hostname%>:<%= sails.config.port %>/coffee/doShowMachineMaintenance?machine_id=1">Astianpesukone</a><br/>
          <a href="http://<%= sails.config.c_hostname%>:<%= sails.config.port %>/coffee/doShowMachineMaintenance?machine_id=2">Barista</a>
      </ul>
    </div>
  </div>
</div>
