<!-- Default home page -->
<script type="text/javascript">
   setTimeout(function sunrise () {  }, 0);
</script>

<!-- Simply include the sails.io.js script, and a client socket will be created and auto-connected for you -->
<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>

<script type="text/javascript">

var doubleClickPrevent=false;

function renderUsers(data) {
  var userHTML = '';
  for (key in data.users) {
    if (data.users[key].name != undefined && data.users[key].name != '') {
        userHTML = userHTML+"<p>"+data.users[key].name+" "+data.users[key].points+"</p>"
    }
  }
  $('#userlist').html(userHTML);
}

function renderActivities(data) {
  var historyHTML = '';
  for (key in data.history) {
    var d = moment(new Date(data.history[key].createdAt)).local().format('MMM-DD: HH:mm');
    historyHTML = historyHTML+"<p>"+data.history[key].history_message+" "+d+"</p>";
  }
  $('#activitylist').html(historyHTML);
}

function render() {
  io.socket.get('/updateView', function gotResponse(data, jwRes) {
    console.log('Server responded with status code ' + jwRes.statusCode + ' and data: ', data);
    renderUsers(data);
    renderActivities(data);
  });
}

$(function() {
  io.socket.get('/coffee/joinRoom', function gotResponse(data, jwRes) {
    console.log('Server responded with status code ' + jwRes.statusCode + ' and data: ', data);
    $.removeCookie('noBroadcast', { path: '/' });
  });

  io.socket.get('/updateView', function gotResponse(data, jwRes) {
    console.log('Server responded with status code ' + jwRes.statusCode + ' and data: ', data);
    renderUsers(data);
    renderActivities(data);
  });

});

io.socket.on('connect', function connected() {
    io.socket.on('eventCompleted', function taskReceived(data) {
        $('#taskView').html(data.message);
        $('#taskView').effect('highlight', function(){
          $('#taskView').fadeOut(5000);
          render();
      });
    });
    io.socket.on('roomLog', function taskReceived(data) {
        $('#taskView').html(data.message);
        $('#taskView').effect('highlight', function(){
            $('#taskView').fadeOut(5000);
            render();
        });
    });
});

</script>

<div style="height:30px"><div id="taskView"></div></div>
<div class="default-page">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <p>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/225528/coffeecup.svg" alt="The hand has 5 fingers">&nbsp;Kahvia
          </p>
          <% _.each(tasks['1'], function(task) {%>
          <p>
            <a class="button button-primary" href="javascript:void(0)" <% if (task.maintenance_id!=undefined) { %> maintId="maintenance_<%=task.maintenance_id%>"  <% } %> <% if (task.notify_id!=undefined) { %> notifyId="notify_<%=task.notify_id%>"  <% } %> ><%=task.pageTitle%></a>
          </p>
          <% }) %>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <p>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/278578/Petri-Dish.svg" alt="The hand has 5 fingers">Yleiset taskit</p>
            <% _.each(tasks['2'], function(task) {%>
            <p>
              <a class="button button-primary" href="javascript:void(0)" <% if (task.maintenance_id!=undefined) { %> maintId="maintenance_<%=task.maintenance_id%>"  <% } %> <% if (task.notify_id!=undefined) { %> notifyId="notify_<%=task.notify_id%>"  <% } %> ><%=task.pageTitle%></a>
            </p>
            <% }) %>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <p>
            <img class="hand-has-five-fingers" src="https://openclipart.org/download/73141/brush.svg" alt="The hand has 5 fingers">&nbsp;Barista</p>
            <% _.each(tasks['3'], function(task) {%>
            <p>
              <a class="button button-primary" href="javascript:void(0)" <% if (task.maintenance_id!=undefined) { %> maintId="maintenance_<%=task.maintenance_id%>"  <% } %> <% if (task.notify_id!=undefined) { %> notifyId="notify_<%=task.notify_id%>"  <% } %> ><%=task.pageTitle%></a>
            </p>
            <% }) %>
        </div>
      </li>
    </ul>
    <div class="links">
      <ul class="link-list">
        <h2>Pisteet</h2>
        <div id="userlist"></div>
      </ul>
      <ul class="link-list">
        <h2>Activity</h2>
        <div id="activitylist"></div>
      </ul>
      <ul class="link-list">
        <h2>Logs</h2>
          <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doShowMachineMaintenance?machine_id=1">Astianpesukone</a><br/>
          <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doShowMachineMaintenance?machine_id=2">Barista</a><br>
          <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port %>/coffee/doShowHeroesGallery">Gallery of Heroes</a><br>
      </ul>
    </div>
  </div>
</div>

<script src="assets/js/onload.js"></script>
