<script type="text/javascript">
setTimeout(function sunrise () {
  <% if(typeof showModal !== 'undefined' && showModal==1) { %>
      alert('Hyv채! \n <%=message%> \n Sait <%=points%> pistett채!')
  <% } %>
}, 0);
</script>
<div class="default-page">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <h2>Kukas olet?</h2>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <% _.each(users, function(user) {%>
            <p><a href="http://<%= sails.config.c_hostname%>:<%= sails.config.port%>/coffee/doPageLogin?name=<%=user.name%>"><%=user.name%></a></p>
          <% }) %>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <h2>Joku muu</h2>
            <form method="post" action="http://<%= sails.config.c_hostname%>:<%= sails.config.port%>/coffee/doAddUser">
            <input type="text" name="name" /> <input class="button button-primary" type="submit" value="Lis채채" />
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
