<div class="default-page">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <h2>Kukas olet?</h2>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <% _.each(users, function(user) {%>
            <p><a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port%>/coffee/doPageLogin?name=<%=user.name%>"><%=user.name%></a></p>
          <% }) %>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <h2>Joku muu</h2>
            <form method="post" action="http://<%= sails.config.c_hostname%><%= sails.config.c_port%>/coffee/doAddUser">
            <input type="text" name="name" /> <input class="" type="submit" value="Lisää" />
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
