<div class="default-page">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div>
          <% _.each(history_detail, function(machine) {%>
             <%=machine.history_message%> <%= moment(machine.createdAt).format( 'MMM-DD: HH:mm')%> - <%=machine.user%><br/>
          <% }) %>
        </div>
      </li>
    </ul>
    <div class="links">
      <ul class="link-list">
        <h2>Pisteet</h2>
        <% _.each(users, function(user) {%>
           <%=user.name%> <%=user.points%> <br/>
        <% }) %>
      </ul>
      <ul class="link-list">
        <h2>Activity</h2>
        <% _.each(history, function(machine) {%>
           <%=machine.history_message%> <%= moment(machine.createdAt).format( 'MMM-DD: HH:mm')%> <br/>
        <% }) %>
      </ul>
      <ul class="link-list">
        <h2>Logs</h2>
        <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port%>/coffee/doShowMachineMaintenance?machine_id=1">Astianpesukone</a><br/>
        <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port%>/coffee/doShowMachineMaintenance?machine_id=2">Barista</a><br/>
        <a href="http://<%= sails.config.c_hostname%><%= sails.config.c_port%>"><- Etusivu</a>
      </ul>
    </div>
  </div>
</div>
